@charset "utf-8";
body {
	color:#676767;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Tahoma,Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top: 2px;
	background:#F8F8F8;
}
#cargando_pecc{
	
	background-color:#313131;
	
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:200%;
	z-index:1;
	opacity: .8;
 	filter: alpha(opacity=50);
 	-moz-opacity: .8;
 
	
	}
#div_carga_busca_sol{
	background-color:#313131;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:1;
	/*opacity: .8;
 	filter: alpha(opacity=98);
 	-moz-opacity: .8;*/
	overflow:scroll;
	}
        
img {  border: none; cursor:pointer;}

ul, ol {list-style:none; }
li{ font-size:12px; line-height:1.485em; margin-left:-40px; background:url(../imagenes/botones/flecha_li.png?in=1) 0 3px no-repeat;   padding: 0 0 1px 15px; }
ul.menu_lista li {font-size:12px; line-height:1.485em; margin-left:-40px; background:url(../imagenes/botones/icono-abre-menu.png?in=1) 0 3px no-repeat;   padding: 0 0 1px 15px;  }
ul.menu_lista_sub li {font-size:12px; line-height:1.485em; margin-left:-40px; background:url(../imagenes/botones/icono-abre-sub-menu.png?in=3) 0 3px no-repeat;   padding: 0 0 1px 15px;  }
 {font-size:12px; line-height:1.485em; margin-left:-40px; background:url(../imagenes/botones/icono-abre-sub-menu.png?in=3) 0 3px no-repeat;   padding: 0 0 1px 15px; }

ul.carta li {font-size:12px; line-height:1.485em; margin-left:10px; background:url(../imagenes/botones/flecha_li.png?in=2) 0 3px no-repeat;   padding: 0 0 1px 15px;  }
#cuerpo{border:#4491BF 1px solid;	padding:5px 5px 5px 5px;	float: left;}
.div_contenidos {

/*		behavior:url(http://localhost/cliente-hocol/sgpa_v1/css/border-radius.htc); */
		display:block;
		background-color:#F8F9FF;
		-moz-border-radius:15px;
		-webkit-border-radius: 15px;
		border-radius: 15px ;
		padding:2px 15px 5px 15px;
		
		border: 1px solid #C6E6FF;
}

input.boton_aporbar_tarifa { border: 1px solid #090; border-left:10px solid #090; }
input.boton_rechazar_tarifa { border: 1px solid #FF0000; border-left:10px solid #FF0000; }

.texto_calendario{

	font-size:11px}
.fondo_titulu_calendario{ background-color:#229BFF;
	color:#FFFFFF;
		
	}	
.fondo_desactiva_calendario{ 
  BORDER-BOTTOM: #cccccc 2px double; BORDER-RIGHT: #cccccc 2px  double; BORDER-TOP: #cccccc 1px solid;  BORDER-LEFT: #cccccc 1px solid; 
  background-color:#999;
  color:#FFF;
		
	}
.fondo_activa_calendario{ 
  BORDER-BOTTOM: #cccccc 2px double; BORDER-RIGHT: #cccccc 2px  double; BORDER-TOP: #cccccc 1px solid;  BORDER-LEFT: #cccccc 1px solid; 
		
	}	
.titulo_calendario_ideal{ color:#000000;}
.titulo_calendario_real_mal{ color:#CC3300;}
.titulo_calendario_real_bien{ color:#090;}

/*ESTILOS DEL MENU*/

	.fondo_1{ background:#005395; color:#FFFFFF}
	.fondo_2{ background:url(../imagenes/botones/cuadro_menu.png) no-repeat; color:#FFFFFF;
		padding:2px 2px 2px 10px;
		 cursor:pointer;
		 height:20px;
	}	
	.fondo_2_sub{ background:url(../imagenes/botones/cuadro_menu_sub2.png) no-repeat; color:#FFFFFF;
		padding:2px 2px 2px 10px;
		 
		 height:20px;
	}		
	.titulo_menu_tarifas {color:#FFFFFF;font-size:18px;}	
	.fondo_3{ background:#005395; color:#FFFFFF;}
	.fondo_4{ background:#FFFFD2; color:#000000;padding:2px 2px 2px 10px;border: 1px solid #C6E6FF;		}	
	
	.fondo_5{ color:#FC3F43;padding:2px 2px 2px 10px; font-size:16px; }	
	.fondo_6{ background:#FFFFD2; color:#000000;padding:2px 2px 2px 10px;border: 1px ;		}	
	.fondo_7{ background:#005395; color:#FFFFFF;font-size:16px;}
	.fondo_cabecera {
	
			/*behavior:url(http://localhost/cliente-ebiding/css/border-radius.htc); */
		display:block;
/*		background:url(../imagenes/imagen/cubo_fondo.jpg);*/
		-moz-border-radius:15px;
		-webkit-border-radius: 15px;
		border-radius: 15px ;
		padding:5px 20px 10px 20px;
		height:100%;
		border: 1px solid #C6E6FF;
		color:#015697;
		font-size:26px;
		background:#FFF;
}	
.letra_azul_pequena{
	color:#015697;
		font-size:14px;
	}

/*ESTILOS DEL MENU*/

/*ESTILOS PARA TITULOS*/

.titulos_secciones{font-size:18px; border-bottom:1px solid #676767; color:#000000}
.columna_titulo_resultados{ font-size:14px; background:url(../imagenes/botones/fondo_tabla_resultados.png); height:30px;   BORDER-BOTTOM: #999999 1px solid; }
.columna_subtitulo_resultados{ height:20px;font-size:14px;  
 BORDER-BOTTOM: #CCCCCC 1px solid; BORDER-RIGHT: #CCCCCC 1px solid; BORDER-LEFT: #CCCCCC 1px solid; background:#DDDDDD }
.columna_subtitulo_resultados_mas_oscuro{ height:20px;font-size:14px;  
 BORDER-BOTTOM: #CCCCCC 1px solid; BORDER-RIGHT: #CCCCCC 1px solid; BORDER-LEFT: #CCCCCC 1px solid; background:#999;color:#FFF }

.columna_subtitulo_resultados_oscuro{ height:20px;font-size:14px; color:#FFF; 
 BORDER-BOTTOM: #CCCCCC 1px solid; BORDER-RIGHT: #CCCCCC 1px solid; BORDER-LEFT: #CCCCCC 1px solid; background:#666 }
.titulos_resumen_alertas{ color:#CC3300;}
.titulos_resaltado_procesos{ color:#FC3F43;padding:2px 2px 2px 10px; font-size:20px; }
.sub_titulos_modulos_1{ color:#FC3F43;padding:2px 2px 2px 10px; font-size:20px; }	
.sub_titulos_modulos_2{ color:#FF9900;padding:2px 2px 2px 10px; font-size:20px; }	
.columna_subtitulo_resultados_letra_normal{ height:20px;
 BORDER-BOTTOM: #CCCCCC 1px solid; BORDER-RIGHT: #CCCCCC 1px solid; BORDER-LEFT: #CCCCCC 1px solid; background:#DDDDDD }

/*ESTILOS PARA TITULOS*/

.tabla_blanca{
	margin:1px;
  BORDER-BOTTOM: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px  solid; BORDER-TOP: #cccccc 1px solid;  	BORDER-LEFT: #cccccc 1px solid; 
  border-spacing:2px;
  overflow:scroll;
  
  background-color:#FFF;
	}
	
	
.tabla_alerta{  margin:1px;
  BORDER-BOTTOM: #FF0000 3px double; BORDER-RIGHT: #FF0000 3px  double; BORDER-TOP: #FF0000 3px double;  	BORDER-LEFT: #FF0000 3px double; background-color:#FFF;
  border-spacing:2px;
  overflow:scroll;
  
 }
 
 .tabla_alerta_comite{  margin:1px;
  BORDER-BOTTOM: #FF0000 3px double; BORDER-RIGHT: #FF0000 3px  double; BORDER-TOP: #FF0000 3px double;  	BORDER-LEFT: #FF0000 3px double; 
  border-spacing:2px;
  background-color:#229BFF;
  color:#FFFFFF;
 }
 
 .linea_roja_top{
	 BORDER-BOTTOM: #FF0000 0px dotted; BORDER-RIGHT: #FF0000 0px  double; BORDER-TOP: #FF0000 3px dotted;  	BORDER-LEFT: #FF0000 0px double; 
	 }
 .linea_roja_abajo{
	 BORDER-BOTTOM: #FF0000 3px dotted; BORDER-RIGHT: #FF0000 0px  double; BORDER-TOP: #FF0000 0px double;  	BORDER-LEFT: #FF0000 0px double; 
	 }

 	
.tabla_borde_griz{  

  BORDER-BOTTOM: #cccccc 3px double; 
  BORDER-RIGHT: #cccccc 3px  double; 
  BORDER-TOP: #cccccc 1px solid;  	
  BORDER-LEFT: #cccccc 1px solid; 



 }


.tabla_lista_resultados{  
	margin:1px;
  BORDER-BOTTOM: #cccccc 3px double; 
  BORDER-RIGHT: #cccccc 3px  double; 
  BORDER-TOP: #cccccc 1px solid;  	
  BORDER-LEFT: #cccccc 1px solid; 
  border-spacing:2px;
  overflow:scroll;
  
 }
 
 .tabla_lista_aproba_comite{  margin:1px;
  BORDER-BOTTOM: #cccccc 3px double; BORDER-RIGHT: #cccccc 3px  double; BORDER-TOP: #cccccc 1px solid;  	BORDER-LEFT: #cccccc 1px solid; 
  border-spacing:2px;
  overflow:scroll;
  
  font-size:14px;
 }
 

.tabla_paginador{ font-size:14px; color:#666666} 

.filas_resultados_reporte_saldos1{
	 BORDER-BOTTOM: #cccccc 1px double; BORDER-RIGHT: #cccccc 0px  double; BORDER-TOP: #cccccc 1px solid;  	BORDER-LEFT: #cccccc 0px solid; 
	}
.filas_resultados_reporte_saldos2{
	 BORDER-BOTTOM: #cccccc 1px double; BORDER-RIGHT: #cccccc 0px  double; BORDER-TOP: #cccccc 0px solid;  	BORDER-LEFT: #cccccc 0px solid; 
	}
	

.filas_resultados_blanco{ background:#FFFFFF} 
.filas_resultados{ background:#DBFBDC} 



/*ESTILOS PARA FORMULARIOS*/
input{
	width:97%;	
	background-color:#ffffff;
	border:1px solid #8BBE7C;
	color:#000000;
	font-size:12px;
	font-family:"Trebuchet MS";
}
textarea{
	width:97%;	
	background-color:#ffffff;
	border:1px solid #8BBE7C;
	color:#000000;
	font-size:12px;
	font-family:"Trebuchet MS";
}
select{
	width:97%;	
	background-color:#ffffff;
	border:1px solid #8BBE7C;
	color:#000000;
	font-size:12px;
	font-family:"Trebuchet MS";
}

textarea.textarea_tarifas{width:150px;	}
textarea.textarea_tarifas_300{width:300px;	}

input.campos_tarifas{	width:80px;	}

select.select_tarifas{	width:80px;	}
select.select_ancho_automatico{	width:auto}



input.boton_grabar { background:url(../imagenes/botones/boton-grabar.png?k=7) no-repeat; height:26px; padding-left:26px; background-color:#ffffff; border-bottom:2px solid; border-right:2px solid; width:auto}

input.boton_grabar_rojo { background:url(../imagenes/botones/boton-grabar-rojo.png?k=7) no-repeat; height:26px; padding-left:26px; background-color:#ffffff; border-bottom:2px solid; border-right:2px solid; width:auto}


input.boton_buscar { background:url(../imagenes/botones/boton-buscar.png?k=7) no-repeat; height:26px; padding-left:26px; background-color:#ffffff; border-bottom:2px solid; border-right:2px solid; width:auto; border-color:#D9E8F7; cursor:pointer;}
input.boton_eliminar { background:url(../imagenes/botones/boton_borrar.png?k=9) no-repeat; height:26px; padding-left:26px  ; background-color:#ffffff; border-color:#FF9D9D; border-bottom:2px solid; border-right:2px solid; width:auto; cursor:pointer;}
input.boton_edicion { background:url(../imagenes/botones/boton-editar.png?k=11) no-repeat; height:26px; padding-left:26px  ; background-color:#ffffff; border-color:#FFFF99; border-bottom:2px solid; border-right:2px solid; width:auto; cursor:pointer;}
input.boton_volver { background:url(../imagenes/botones/boton-volver.png?k=12) no-repeat; height:26px; padding-left:26px  ; background-color:#ffffff; border-color:#006600; width:auto; cursor:pointer}
input.boton_grabar_parcial { border-left:10px solid  #FF9900; cursor:pointer;}
input.boton_grabar_cancelar { border-left:10px solid   #FF0000; cursor:pointer;}
input.radio {
	width:auto;	
	background-color:#ffffff;
	border:0px solid #8BBE7C;
	color:#000000;
	font-size:10px;
	font-family:"Trebuchet MS";
	cursor:pointer;
}
input.boton_email { background:url(../imagenes/botones/boton-email.png?k=7) no-repeat; height:26px; padding-left:26px; background-color:#ffffff; border-bottom:2px solid; border-right:2px solid; width:auto}
.letra-descuentos{ color:#FF3300; cursor:pointer;}
/*ESTILOS PARA FORMULARIOS*/


/*ESTILO RECUADRO*/	
	.esquina_s_iz{ background:url(../imagenes/botones/esquina_iz.png) no-repeat}
	.esquina_s_der{ background:url(../imagenes/botones/esquina_derecha.png) no-repeat}
	.esquina_i_iz{ background:url(../imagenes/botones/esquina_izq_abajo.png) no-repeat}
	.esquina_i_der{ background:url(../imagenes/botones/esquina_derec_abajo.png) no-repeat}
	
	.linea_iz{ background:url(../imagenes/botones/linea_izq.png) repeat-y}
	.linea_der{ background:url(../imagenes/botones/linea_der.png) repeat-y}
	.linea_sup{ background:url(../imagenes/botones/linea_supe.png) repeat-x}
	.linea_infe{ background:url(../imagenes/botones/linea_inf.png) repeat-x}

/*ESTILO RECUADRO*/

input.campos_faltantes { 
border: 1px solid #FF0000;
}

input.campos_faltantes_fecha { 
border:1px solid #FF0000; background:#FF0000;height:15px;
padding-left:5px; padding-right:30px;
}


select.select_faltantes{ 
background-color:#FF8080; border: 1px solid #FF0000;
}

textarea.textarea_faltantes{ 
background-color:#FF8080; border: 1px solid #FF0000;
}

input.porcentaje{
  background-image:url(../imagenes/botones/porcentaje.png);
  background-repeat:no-repeat;
  background-position:right;
}

/********************************************************************
INMOVILIZALR COLUMNAS EN LAS TABLAS
**********************************************************************/
#encabezado2{border:0}
#encabezado2 td{border-width:1px}
#datos2{border:0}
#datos2 td{border-width:1px; vertical-align:top; white-space:nowrap}
/********************************************************************
INMOVILIZALR COLUMNAS EN LAS TABLAS
**********************************************************************/

input.campos_tarifas_otros{	width:20px;	border:0px ; background-color:#F8F8F8;}

select.campos_tarifas_select{	width:200px;	 background-color:#F8F8F8;}
.scroll_div{
     
     height:400px;
     
     overflow:auto;
}

.scroll_div_usuario{
     
     height:200px;
	 width:50%;
     
     overflow:auto;
}

.tarifas_ipc{ border-left:solid 3px  #FC0;}	
.tarifas_creacion{ border-left:solid 3px #99C;}	
.tarifas_actualiza{ border-left:solid 3px #C96;}	
.tarifas_normal{ border-left:solid 3px  #090;}	

.estilo_reporte_fondo_griz{
	color:#000;
	background-color:#CCC;
	
	BORDER-BOTTOM: #FF0 0px solid; 
	BORDER-RIGHT: #FF0 0px solid; 
	BORDER-TOP: #FF0 0px solid;  
	BORDER-LEFT: #FF0 0px solid; 
	
	}
	
.estilo_reporte_fondo_titulo_soli{
	color:#000;
	
	
	font-style:italic;
	font-style:oblique;
	font-weight: bold;
	
	BORDER-BOTTOM: #cccccc 1px solid; 
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid;  
	BORDER-LEFT: #cccccc 1px solid; 
	
	}
	
.estilo_reporte_fondo_verde{
	color:#FFF;
	background-color:#093;
	font-weight: bold;
	
	BORDER-BOTTOM: #F00 0px solid; 
	BORDER-RIGHT: #F00 0px solid; 
	BORDER-TOP: #F00 0px solid;  
	BORDER-LEFT: #F00 0px solid; 
	
	
	}
	
.estilo_reporte_saldo_parcial{
	color:#000;
	background-color:#FFF;
	font-style:italic;
	font-style:oblique;
	font-weight: bold;
	text-decoration:underline;
	
	
	}
	
.estilo_reporte_saldo_total{
	color:#000;
	background-color:#FFDFDF
	font-style:italic;
	font-style:oblique;
	font-weight: bold;

	}

.titulos_secciones_tarifas{font-size:14px; border-bottom:1px solid #676767; color:#000000}
.titulos_resaltado_procesos_tarifas{ color:#FC3F43;padding:2px 2px 2px 10px; font-size:14px; }
.titulos_resaltado_subtitulos_tarifas{  font-size:12px; }
.titulos_resaltado_subtitulos_contenidostarifas{ font-size:11px; }	

.link_volver:hover{
	
	color:#005395;
	
}

.link_volver{
	
	
	color:#229BFF;font-size:13px;}
	
.apretrura_firme{font-size:16px;color:#006600}
.apertura_pendiente{font-size:16px; color:#FF0000}

