<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
    <system.webServer>

        <rewrite>
            <rules>
                <remove name="Imported Rule 7" />
                <remove name="Imported Rule 8" />
                <remove name="Imported Rule 12" />
                <remove name="Imported Rule 14" />
                <remove name="Imported Rule 16" />
                <remove name="Imported Rule 18" />
                <remove name="Imported Rule 17" />
                <remove name="Imported Rule 15" />
                <remove name="Imported Rule 13" />
                <remove name="Imported Rule 10" />
                <remove name="Imported Rule 11" />
                <remove name="Imported Rule 9" />
                <remove name="Imported Rule 6" />
                <remove name="Imported Rule 5" />
                <remove name="Imported Rule 4" />
                <remove name="Imported Rule 3" />
                <remove name="Imported Rule 2" />
                <remove name="Imported Rule 1" />
                <rule name="Imported Rule 1">
                    <match url="^sistema-sgpa/administracion.html$" ignoreCase="false" />
                    <action type="Rewrite" url="procesos/administrador/index.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^sistema-sgpa/proveedores.html$" ignoreCase="false" />
                    <action type="Rewrite" url="procesos/proveedores/index.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^informacion-general/error.html$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^sistema-sgpa/menu-tarifas.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/tarifas_menu_admin.php" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^sistema-sgpa/procesos-tarifas.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/tarifas_procesos_admin.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^sistema-sgpa/menu-tarifas-proveedor.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/tarifas_menu_proveedor.php" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^sistema-sgpa/procesos-tarifas-proveedores.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/tarifas_procesos_proveedor.php" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^sistema-sgpa/menu-contratos.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/contratos_menu_admin.php" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^sistema-sgpa/procesos-contratos.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/contratos_procesos_admin.php" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^sistema-sgpa/menu-pecc.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/pecc_menu_admin.php" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^sistema-sgpa/procesos-pecc.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/procesos_pecc.php" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^sistema-sgpa/menu-item.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/item_menu_admin.php?id_pecc=1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^sistema-sgpa/procesos-item.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/pecc_procesos_admin.php?id_pecc=1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^sistema-sgpa/menu-comite.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/comite_menu_admin.php" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^sistema-sgpa/procesos-comite.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/comite_procesos_admin.php" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^sistema-sgpa/tablero.js$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/js/tarifas_proveedor.js" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^sistema-sgpa/avanzar.js$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/ajax/ajax_01.js" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^sistema-sgpa/menu-tarifas-masivas.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/tarifas_procesos_cargue_masivo.php" />
                </rule>
                <rule name="Imported Rule 1-1">
                    <match url="^informacion-general/error.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/error.php" />
                </rule>
                <rule name="Imported Rule 2-1">
                    <match url="^enterproc/administracion-general/principal.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/procesos/admin/index.php" />
                </rule>
                <rule name="Imported Rule 3-1">
                    <match url="^enterproc/administracion-general/configuracion_criterios_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/tabla_criterios.php?id_invitacion={R:1}&amp;termino={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4-1">
                    <match url="^enterproc/administracion-general/configuracion_criteriostecnicos_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/tabla_criterios_tecnicos.php?id_invitacion={R:1}&amp;termino={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5-1">
                    <match url="^enterproc/administracion-general/configuracion_criterioscg_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/c_grupos_criterios.php?ds_id={R:1}&amp;id_invitacion={R:2}&amp;termino={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6-1">
                    <match url="^enterproc/administracion-general/configuracion_criterioscg.php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/c_grupos_criterios.php" />
                </rule>
                <rule name="Imported Rule 7-1">
                    <match url="^enterproc/administracion-general/configuracion_criterioscsug_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/pc_criterios.php?ds_id={R:1}&amp;id_invitacion={R:2}&amp;termino={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8-1">
                    <match url="^enterproc/administracion-general/configuracion_criterioscsug.php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/pc_criterios.php" />
                </rule>
                <rule name="Imported Rule 9-1">
                    <match url="^enterproc/administracion-general/configuracion_criteriosec_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/tabla_economica.php?id_invitacion={R:1}&amp;id_lista={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10-1">
                    <match url="^enterproc/administracion-general/configuracion_formulas_([a-zA-Z0-9_-]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/tabla_economica_formulas.php?id_invitacion={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11-1">
                    <match url="^enterproc/administracion-general/configuracion_criteriosec.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/tabla_economica.php" />
                </rule>
                <rule name="Imported Rule 12-1">
                    <match url="^enterproc/administracion-general/configuracion_criteriosmasivo.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/sube_plantilla.php" />
                </rule>
                <rule name="Imported Rule 13-1">
                    <match url="^enterproc/administracion-general/cartelera-aclaraciones_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/cartelera.php?id_invitacion_pasa={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14-1">
                    <match url="^enterproc/administracion-general/cartelera-comunicaciones_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/cartelera_generales.php?id_invitacion_pasa={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15-1">
                    <match url="^enterproc/administracion-general/nuevo-proceso.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/crea_proceso.php" />
                </rule>
                <rule name="Imported Rule 16-1">
                    <match url="^enterproc/administracion-general/historico-proceso_([a-zA-Z0-9_-]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/historico_procesos.php?tipo_ingreso_alerta={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 17-1">
                    <match url="^enterproc/administracion-general/historico-proveedores.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/historico_proveedores.php" />
                </rule>
                <rule name="Imported Rule 18-1">
                    <match url="^enterproc/administracion-general/panel-control.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/panel_control.php" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^enterproc/administracion-general/alerta-bitacora.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/alerta_bitacora.php" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^enterproc/administracion-general/muestra-reloj_ad.php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/actu_hora.php" />
                </rule>
                <rule name="Imported Rule 21">
                    <match url="^enterproc/administracion-general/pliego-terminos-condiciones_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).pdf$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/librerias/tcpdf/examples/example_006.php?nombre={R:1}&amp;id_proceso={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^enterproc/solicitudes-en-proceso/procesos.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/procesos/proveedor/index.php" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^enterproc/solicitudes-en-proceso/detalle_invitacion_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/detalle_invitacion.php?id_invitacion_pasa={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 24">
                    <match url="^enterproc/solicitudes-en-proceso/detalle_invitacionhistorico_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/detalle_invitacion_historico.php?id_invitacion_pasa={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 25">
                    <match url="^enterproc/solicitudes-en-proceso/historico_invitaciones.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/historico_invitacion.php" />
                </rule>
                <rule name="Imported Rule 26">
                    <match url="^enterproc/solicitudes-en-proceso/mi_perfil.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/panel_control.php" />
                </rule>
                <rule name="Imported Rule 27">
                    <match url="^enterproc/solicitudes-en-proceso/invitacion_tecnica_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/invitacion_2.php?id_invitacion_pasa={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 28">
                    <match url="^enterproc/solicitudes-en-proceso/invitacion_juridica_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/invitacion_3.php?id_invitacion_pasa={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 29">
                    <match url="^enterproc/solicitudes-en-proceso/oferta_invitacion_tecnica_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/tabla_criterios_proveedor.php?id_invitacion_pasa={R:1}&amp;termino={R:2}&amp;tipo_termino={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 30">
                    <match url="^enterproc/solicitudes-en-proceso/cartelera-aclaraciones_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/cartelera.php?id_invitacion_pasa={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 31">
                    <match url="^enterproc/solicitudes-en-proceso/procesos_proveedor.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/librerias/php/procesos_licitacion_proveedor.php" />
                </rule>
                <rule name="Imported Rule 32">
                    <match url="^enterproc/solicitudes-en-proceso/procesos_proveedor_economica.html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/librerias/php/procesos_invitacion_economica.php" />
                </rule>
                <rule name="Imported Rule 33">
                    <match url="^enterproc/solicitudes-en-proceso/exportaexcel_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/exporta_economico.php?id_invitacion_pasa={R:1}&amp;id_lista={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 34">
                    <match url="^enterproc/solicitudes-en-proceso/cartelera-comunicaciones_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/cartelera_comunicaciones.php?id_invitacion_pasa={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 35">
                    <match url="^enterproc/solicitudes-en-proceso/cartelera-aclaraciones-finales_([a-zA-Z0-9_-]+).php$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/lista_aclaraciones_finales.php?id_invitacion_pasa={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 36">
                    <match url="^enterproc/solicitudes-en-proceso/pliego-terminos-condiciones_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).pdf$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/librerias/tcpdf/examples/example_006.php?nombre={R:1}&amp;id_proceso={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 37">
                    <match url="^muestra-reloj_general.html$" ignoreCase="false" />
                    <action type="Rewrite" url="actu_hora.php" />
                </rule>
                <rule name="Imported Rule 38">
                    <match url="^sistema-sgpa/menu-manuales.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/manuales_menu_admin.php" />
                </rule>
                <rule name="Imported Rule 39">
                    <match url="^sistema-sgpa/menu-desempeno.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/desempeno_menu_admin.php" />
                </rule>
                <rule name="Imported Rule 40">
                    <match url="^sistema-sgpa/procesos-desempeno.html$" ignoreCase="false" />
                    <action type="Rewrite" url="librerias/php/desempeno/desempeno_procesos_admin.php" />
                </rule>
                <rule name="indicador1">
                    <match url="^sistema-sgpa/menu-indicador.html$" />
                    <action type="Rewrite" url="librerias/php/indicador_menu_admin.php" />
                </rule>
                <rule name="indicador2">
                    <match url="^sistema-sgpa/indicador_general.html$" />
                    <action type="Rewrite" url="aplicaciones/indicadores/indicadorpecc_1.php" />
                </rule>
                <rule name="admin_usuarios">
                    <match url="^sistema-sgpa/administracion-usuario.html$" />
                    <action type="Rewrite" url="aplicaciones/administracion/admin_usuario.php" />
                </rule>
		<rule name="soporte-tecnico-procurement">
                    <match url="^enterproc/administracion-general/soporte-tecnico.html$" negate="false" />
                    <action type="Rewrite" url="enterproc/aplicaciones/soporte_texto.php" />
                </rule>
                <rule name="soporte-proveedor">
                    <match url="^enterproc/solicitudes-en-proceso/mi_soporte_tecnico.html" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/solicitud_soporte.php" />
                </rule>
                <rule name="detalle_soporte">
                    <match url="^enterproc/solicitudes-en-proceso/soporte_detallado_([a-zA-Z0-9_-]+).html$" />
                    <action type="Rewrite" url="enterproc/aplicaciones/proveedores/detalle_soporte.php?id_soporte={R:1}" />
                </rule>
                <rule name="des_ane_pro">
                    <match url="^sistema-sgpa/descarga_ane_desc_([a-zA-Z0-9_-]+).html$" />
                    <action type="Rewrite" url="aplicaciones/tarifas/proveedor/descarga_anexo.php?id_documen={R:1}" />
                </rule>
                <rule name="anexo_modifica">
                    <match url="^sistema-sgpa/descarga_ane_modi_([a-zA-Z0-9_-]+).html$" />
                    <action type="Rewrite" url="aplicaciones/tarifas/proveedor/descarga_anexo_m.php?id_documen={R:1}" />
                </rule>
                <rule name="Manual Tarifas">
                    <match url="^sistema-sgpa/manual_tarifas.pdf$" />
                    <action type="Rewrite" url="procesos/proveedores/Manual_tarifas.pdf" />
                </rule>
                <rule name="imprime_tiquete_servicios">
                    <match url="^sistema-sgpa/generacion_tiquete_([a-zA-Z0-9_-]+)_([a-zA-Z0-9_-]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="aplicaciones/tarifas/proveedor/impresion_prefactura.php?id_contrato={R:1}&amp;id_prefactura={R:2}" appendQueryString="false" />
                </rule>
                <rule name="sgpa_rup">
                    <match url="^rup-parservicios-act.html$" />
                    <action type="Rewrite" url="act_prov_par.php" />
                </rule>
 <rule name="apertura_acta">
                    <match url="^enterproc/administracion-general/apertura_acta_([a-zA-Z0-9_-]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="enterproc/librerias/pdf/funcion_pdf.php?id_invitacion={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="false" allowHighBitCharacters="true">
                <requestLimits maxAllowedContentLength="4000000000" />
            </requestFiltering>
        </security>
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="500" subStatusCode="-1" />
        </httpErrors>
        <httpRedirect enabled="false" destination=""/>
        <urlCompression doStaticCompression="false" />
    </system.webServer>
</configuration>
